@font-face {
    font-family: "Future PT";  
    src: url("../fonts/futura-pt-book.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "Future PT";  
    src: url("../fonts/FuturaPT-Heavy.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600;
}

@font-face {
    font-family: "Future PT";  
    src: url("../fonts/FuturaPT-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500;
}