body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1328px;
    margin: 0 auto;
}

.catalog {
    margin-top: 102px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Future PT';
}

.catalog__card {
    background-color: #fff;
    width: 25%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.catalog__card-discount {
    height: 24px;
    width: 41px;
    background-color: #FDFCFC;
    color: #D01345;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 4%;
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 101;
}

.catalog__card:hover .catalog__card-discount {
    z-index: 103;
}

.catalog__card-favorites {
    background: url('../img/favorites.svg') center no-repeat;
    height: 20.68px;
    width: 24.61px;
    z-index: 101;
    position: absolute;
    right: 16px;
    top: 407px;
    cursor: pointer;
}

.catalog__card-favorites:hover {
    background: url('../img/favorites\ active.svg') center no-repeat;
}

.catalog__card:hover .catalog__card-favorites {
    z-index: 103;
}

.catalog__card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

.catalog__card:hover::before {
    z-index: 101;
    transform: scale(1.1, 1);
}

.catalog__card-img {
    width: 100%;
    height: 444px;
    z-index: 100;
}

.catalog__card:hover .catalog__card-img {
    transform: scale(1.1,1);
    z-index: 102;
}

.catalog__card-info {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 100;
}

.catalog__card:hover .catalog__card-info {
    z-index: 102;
}

.catalog__card-title {
    width: 306px;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4%;
    color: #2D2D2D;
    flex-grow: 1;
}

.catalog__card-price {
    display: flex;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #D01345;
    line-height: 24px;
}

.catalog__card-old {
    font-size: 12px;
    line-height: 24px;
    text-decoration: line-through;
    color: #6C6C6C;
    margin-right: 5px;
}

.catalog__card-bottom {
    padding: 9px 14px 19px 16px;
    width: 367px;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    margin-top: -48px;
    position: absolute;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
}

.catalog__card:hover .catalog__card-bottom {
    display: flex;
    visibility: visible !important;
    bottom: -70px;
    left: -17px
}

.catalog__card:hover .catalog__card-bottom {
    z-index: 102;
}

.catalog__card-bottom-size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog__card-bottom-size-label {
    font-size: 14px;
    color: #818181;
    line-height: 16px;
    letter-spacing: 4%;
}

.catalog__card-bottom-size-value {
    font-weight: 500;
}

.catalog__card-btn {
    width: 100px;
    height: 48px;
    background-color: #2D2D2D;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vacuum {
    height: 300px;
}